body {
    color: rgb(255, 200, 150);
    margin: 0px;
    display: flex;
    overflow: hidden;
    background-color: black;
    background: linear-gradient(0deg, black 0%, rgb(50, 50, 50) 100%);
}
img {
    margin: auto;
}
a {
    text-decoration: none;
    position: absolute;
    margin: 1em;
    color: white;
    right: 0px;
    bottom: 0px;
}
a:hover {
    color: gold;
}
#shadow {
    position: absolute;
    opacity: 1;
    width: inherit;
    height: inherit;
    background-color: black;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
@keyframes d {
    from {opacity: 1;}
    to {opacity: 0;}
}
#shadow.welcome {
    animation-name: d;
}
div[type="window"] {
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(50, 50, 50, 0.5);
}
div[type="bar"] {
    user-select: none;
    background: rgba(255, 120, 0, 0.5);
    height: 20px;
    width: 100%;
}
div[type="bar"] > p {
    margin: 0;
    text-align: center;
    text-shadow: 0 0 0px black;
}