:root {
    --primary: rgb(69, 69, 69);
    --secondary: rgb(255, 96, 0);
    --tertiary: rgb(255, 140, 0);
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --text: rgb(255, 230, 199);
    --textAlt: rgb(255, 165, 89);
}
body {
    color: var(--text);
    background-color: var(--secondary);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#main {
    box-shadow: var(--shadow);
    background-color: var(--primary);
}
#main > nav {
    background-color: var(--tertiary);
}