body {
    margin: 0px;
    display: flex;
    overflow: hidden;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(50, 50, 50) 100%);
}
span {
    margin: 0.5em;
    margin-right: 0;
}
h1 {
    margin: 0;
}
.baseInfos {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputSection {
    display: flex;
    align-items: center;
}
.inputSection button {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin-right: 0.5em;
    width: 15%;
    text-align: left;
}
.inputSection button img {
    width: 100%;
}
.inputSection span {
    width: 15%;
    text-align: right;
}
.inputSection input {
    width: 70%;
}
#controls:hover button {
    opacity: 1;
}
#controls:hover #musicImage {
    opacity: 0.7;
}
#controls {
    display: flex;
    height: 8cm;
    width: 8cm;
}
#controls button {
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 1;
}
#musicName {
    font-size: 2em;
    /*margin-block-start: 0.5em;
    margin-block-end: 0.5em;*/
}
#musicArtist {
    font-size: 1.5em;
    margin-top: 0.5em;
}
#musicControlPanel {
    height: max-content;
    width: 8cm;
    /*padding-left: 2em;
    padding-right: 2em;*/
    padding: 1em;
    align-items: center;
    flex-direction: column;
    color: white;
    align-self: center;
    background: rgba(60, 60, 60, 0.2);
    border-radius: 4px;
    margin: auto;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
#controls * {
    padding: 0px;
    background: none;
    border: none;
    text-decoration: none;
    margin: auto;
    width: 10%;
}
#controls * img {
    height: 100%;
    width: 100%;
}
#musicImage {
    z-index: 0;
    opacity: 1;
    transition: opacity 0.4s;
    position: fixed;
    width: inherit;
    border-radius: 0.1cm;
}
/* Dont touch *_*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgb(80, 80, 80);
    border-radius: 0.5rem;
    height: 0.5rem;  
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 100%;
    margin-top: -4px;
    background-color: rgb(150, 150, 150);
    height: 1rem;
    width: 1rem;
}
input[type="range"]:focus::-webkit-slider-thumb {   
    border: 1px solid rgb(200, 200, 200);
    /*outline: 3px solid rgb(200, 200, 200);*/
    outline-offset: 0.125rem; 
}
input[type="range"]::-moz-range-track {
    background-color: rgb(80, 80, 80);
    border-radius: 0.5rem;
    height: 0.5rem;
}
input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: rgb(150, 150, 150);
    height: 2rem;
    width: 1rem;
}
input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid rgb(200, 200, 200);
    /*outline: 3px solid rgb(200, 200, 200);*/
    outline-offset: 0.125rem; 
}
#shadow {
    z-index: 1;
    position: absolute;
    opacity: 1;
    width: inherit;
    height: inherit;
    background-color: rgb(0, 0, 0);
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
@keyframes d {
    from {opacity: 1;}
    to {opacity: 0;}
}
#shadow.welcome {
    animation-name: d;
}