body {
    font-family: Arial;
    background-color: rgb(40, 40, 40);
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
@keyframes Appear {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tabcontent {
    display: none;
    opacity: 1;
    padding: 6px 12px;
    animation-name: Appear;
    animation-duration: 2s;
    animation-direction: reverse;
}
.tabcontent.active {
    display: block;
    opacity: 0;
    padding: 6px 12px;
    animation-name: Appear;
    animation-duration: 2s;
    animation-direction: normal;
}